
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.books {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 50vh;
    margin: 30px;
    padding: 20px;
    word-wrap: break-word;
    border-radius: 15px;
    background-color: rgb(233, 233, 233);
    height: fit-content;
}

.card > img {
    height: 40vh;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card > h2 {
    background-color: #393E41;
    color: white;
    padding: 8px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: fit-content;
}

.card > .author {
    font-weight: 900;
    margin-bottom: 10px;
}

.card > .description {
    margin-bottom: 10px;
    background-color: #587B7F;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.card > .publisher {
    background-color: #E2C044;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card > a {
    text-decoration: none;
    color: rgb(77, 75, 75);
}